{% extends 'vehicle/mechanicbase.html' %}
{% load static %}
{% block content %}

	<!-- main content -->
	<div class="wrapper">

<!-- ****** cards start ********** -->
<div class="row">
    <div class="col-3 col-m-6 col-sm-6">
        <a href="{% url 'work-details' 'Approved' %}">
            <div class="counter bg-primary">
                <p><i class="fas fa-tasks"></i></p>
                <h3>{{ new_work_assigned }}</h3>
                <p>New Work Assigned</p>
            </div>
        </a>
    </div>

    <div class="col-3 col-m-6 col-sm-6">
        <a href="{% url 'work-details' 'Repairing' %}">
            <div class="counter bg-warning">
                <p><i class="fas fa-spinner"></i></p>
                <h3>{{ work_in_progress }}</h3>
                <p>Work In Progress</p>
            </div>
        </a>
    </div>

    <div class="col-3 col-m-6 col-sm-6">
        <a href="{% url 'work-details' 'Repairing Done' %}">
            <div class="counter bg-success">
                <p><i class="fas fa-check-circle"></i></p>
                <h3>{{ work_completed }}</h3>
                <p>Work Completed</p>
            </div>
        </a>
    </div>
</div>



<!-- ****** cards end ********** -->


	<!-- end main content -->
{% endblock content %}
